.mapBox {
    height: 420px;
    margin-bottom: 80px;
}
.contact_info {
    display: block;
}
.contact_info .info_item {
    position: relative;
    padding-left: 45px;
}
.contact_info .info_item i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    line-height: 24px;
    color: #766dff;
    font-weight: 600;
}
.contact_info .info_item h6 {
    font-size: 16px;
    line-height: 24px;
    color: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    color: #222222;
}
.contact_info .info_item p {
    font-size: 14px;
    line-height: 24px;
    padding: 2px 0px;
}
.contact_form .form-group {
    margin-bottom: 10px;
}
.contact_form .form-group .form-control {
    font-size: 13px;
    line-height: 26px;
    color: #999;
    border: 1px solid #eeeeee;
    font-family: "Roboto", sans-serif;
    border-radius: 0px;
    padding-left: 20px;
}
.text-right {
    text-align: right !important;
}
.submit_btn {
    width: auto;
    display: inline-block;
    background: #766dff;
    padding: 0px 50px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 50px;
    border-radius: 5px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    border: 1px solid #766dff;
    cursor: pointer;
    transition: all 300ms linear 0s;
}
.contact_form .submit_btn {
    margin-top: 20px;
    cursor: pointer;
}