<section class="feature_area white_feature p_120">
    <div class="container">
        <div class="main_title">
            <h2>Featured Projects</h2>
            <p>If you are looking to show your bussiness or talent on the web, you may be very confused at the
                difference in type of
                ideas, then I can help you...
            </p>
        </div>
        <div class="feature_inner row">
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <!-- <i class="flaticon-city"></i> -->
                    <h4>CLXCounselling</h4>
                    <p>This project is used by universities for counselling of students who had cleared 10+2 or any
                        entrance exam which is conducted by government like
                        (GATE, NEET, CSAT). They give preference according to student marks and rank and process them
                        for admission.
                    </p>
                    <h3>Technologies: </h3>
                    <p>Java1.8, Spring boot, Microservices, Angular 6, Hibernate, Oracle, Sql</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <!-- <i class="flaticon-sketch"></i> -->
                    <h4>Student Feedback Management</h4>
                    <p>This module will be used for getting feedback from student (current or alumni). In this
                        project university will create some questions and then send a link
                        on mail to getting response of students. On click on the link students can answer the question
                        as feedback.</p>
                    <h3>Responsibilities:</h3>
                    <ul>
                        <li>Created new form for user interaction using Angular.</li>
                        <li>Developed RESTFUL Microservices to interact with database using Spring Boot and
                            SpringDataJpa.</li>
                        <li>Created entity classes</li>
                    </ul>
                    <h3>Technologies:</h3>
                    <p>Java1.8, Spring boot, Angular 7,
                        Hibernate, Oracle, SQL.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <!-- <i class="fa fa-video-camera"></i> -->
                    <h4>Video Streaming</h4>
                    <p>This module will help faculty of institutes and collages to take class with the help of recorded videos</p>
                    <h3>Responsibilities:</h3>
                    <ul>
                        <li>Created a Dashboard for user interaction using Angular.</li>
                        <li>Developed RESTFUL Microservices to interact with database using Spring Boot and
                            SpringDataJpa.</li>
                        <li>Created entity classes</li>
                    </ul>
                    <h3>Technologies:</h3>
                    <p>Web Flux,Java1.8,Spring boot, Angular 7,
                        Hibernate, Oracle, SQL.</p>
                </div>
            </div>
        </div>
    </div>
</section>