<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="flex justify-center container">
        <div class="flex-1">
            <img src="assets/pic.jpeg">
        </div>
        <div class="flex-1">
            <div class="personal-info personal_text">
                <h6>HELLO EVERYBODY, I AM</h6>
                <h3>SACHIN YADAV</h3>
                <h4>Full Stack Developer</h4>
                <p>I don’t like to define myself by the work I’ve done. I define myself by the work I want to do. Skills
                    can be taught, personality is inherent. I prefer to keep learning, continue challenging myself, and
                    do interesting things that matter.</p>

                <!-- personal information -->
                <ul class="list basic_info">
                    <li><i class="fa fa-calendar"></i>18 August, 2003</li>
                    <li><i class="fa fa-phone"></i>+91-7985126970</li>
                    <!-- <li><i class="fa fa-envelope"></i>sachin188y@gmail.com</li> -->
                    <li><i class="fa fa-home"></i>Sidharth Nagar UP</li>
                </ul>

                <!-- social media information -->
                <ul class="list personal_social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <!-- <li><a href="#"><i class="fa fa-home"></i></a></li> -->
                </ul>

            </div>
        </div>

    </div>
</body>